    body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #75a4e7, #64295a);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background: transparent;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333333;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #0c0808;
}

input[type="text"],
input[type="password"] {
    width: 95%;
    padding: 8px;
    border: 1px solid #cccccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #0066cc;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #004c99;
}

.error {
    color: rgb(247, 83, 8);
    font-size: 18px;
}
